<footer class="border-top text-muted bg-light">
    <div class="row py-3">
        <div class="col-12 col-md-4 text-center">
            &copy; 2019 - Mais Fit marmitinhas Ltda ME<br>
            Rua Virtual Inexistente, 999, São Paulo/SP<br>
            CNPJ 99.999.999/0001-99
        </div>
        <div class="col-12 col-md-4 text-center">
            <!-- Deve levar à página de política e privacidade -->
            <a href="#" class="text-decoration-none text-dark">
                Política de Privacidade
            </a><br>
            <!-- Deve levar à página Entenda o processo -->
            <a href="#" class="text-decoration-none text-dark">
                Entenda o processo
            </a><br>
            <!-- Deve levar à página institucional que fala sobre a empresa -->
            <a href="#" class="text-decoration-none text-dark">
                Quem Somos
            </a><br>
        </div>
        <div class="col-12 col-md-4 text-center">
            <!-- Deve levar à página de contato -->
            <a href="#" class="text-decoration-none text-dark">
                Contato pelo Site
            </a><br>
            E-mail: <a href="mailto:email@dominio.com" class="text-decoration-none text-dark">
                email@dominio.com
            </a><br>
            Telefone: <a href="phone:28999990000" class="text-decoration-none text-dark">
                (28) 99999-0000
            </a>
        </div>
    </div>
</footer>