{% extends "base.html" %}

{% load static %}

{% block header %}

{% endblock %}

{% block content %}

<div class="row bg-light">
    <div class="col-12 col-md-5 col-lg-6">
        <div class="justify-content-center justify-content-md-start mb-3 mb-md-0">
            <img class="img-fluid img-thumbnail" src="{% static 'img/'|add:kit.link %}" alt="">
        </div>
    </div>
    <div class="col-12 col-md-7 col-lg-6 card">
            <div class="d-flex flex-column justify-content-center justify-content-md-start">
                <div class="d-inline-block me-3">
                    <h3 class="display-5" >Kit Escolhido: {{ kit.titulo }}</h3>
                    <p class="lead" >Descrição: {{ kit.descricao }}</p>
                    <p class="lead">Quantidade de marmitas do kit: {{ kit.qtd_max_marmitas }}</p>
                    <p class="lead" >Valor: R$ {{ kit.valor }}</p>
                    <div class="bg-light">
                        <label for="qtd-escolhida" class="lead text-success">Quantidade de marmitas escolhidas:</label>
                        <input type="text" name="qtd-escolhida" id="qtd-escolhida" readonly class="text-center">
                    </div>
                    <a href="#" class="btn btn-success mt-3 d-block text-warning" id="envia-carrinho" data-escolher>
                        Enviar para o carrinho
                    </a>
                    <input type="hidden" name="qtd-marmitas" id="qtd-marmitas" value="{{ kit.qtd_max_marmitas }}">
                    <input type="hidden" name="kit-id" id="kit_id" value="{{ kit.id }}">
                </div>
            </div>
    </div>
</div>

<hr mt-3>

<div class="row g-3">

    {% for marmita in marmitas %}
        <div class="col-sm-6 col-lg-3">
            <div class="card text-center bg-light">
                <div href="#" class="position-absolute end-0 p-2 text-dark" data-placement="top" title="Tooltip na parte superior">
                    <i class="bi-info-circle" style="font-size: 24px; line-height: 24px;">
                    </i>
                </div>
                <!-- Deve levar à tela de marmitas -->
                <div>
                    <!-- Colocar imagens de marmitas no S3 -->
                    <img src="{{ marmita.link }}" class="card-img-top">
                </div>
                <div class="card-body">
                    <!-- Mudar o campo do kit para nome -->
                    <h5 class="card-title">{{ marmita.titulo }}</h5>
                    <p class="card-text truncar-3l">
                        <!-- Na tabela kit deve haver um campo de descrição -->
                        {{ marmita.descricao }}
                    </p>
                </div>
                <div class="card-footer">
                    <div class="btn-group controle">
                        <button class="btn btn-success" data-controle="+"> + </button>
                        <input type="hidden" name="marmita_id" id="marmita_id" value="{{ marmita.id }}">
                        <input type="text" readonly class="form-control text-center" id="qtdMarmita" value="0" data-contador style="font-size: 24px; line-height: 24px;">
                        <button class="btn btn-success" data-controle="-"> - </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>

<hr mt-3>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/marmita.js' %}"></script>
{% endblock %}